.botao-customizado__root {

    padding: 16px;
    border: none;
    cursor: pointer;
}

.botao-customizado__primario {
    background-color: var(--cor-primaria);
}

.botao-customizado__secundario {
    background-color: var(--cor-secundaria);
}